.landing-container {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  .landing-info {
    padding-left: 50px;
    height: 100%;
    .info-logo {
      padding-top: 100px;
      padding-bottom: 15px;
      width: 100%;
      height: auto;
      max-width: 70px;
      max-height: 70px;
      margin: 0 auto;
    }
    .info-name {
      padding: 30px 0;
      font-weight: 600;
      font-size: 48px;
      color: #03045e;
      text-shadow: 1px 1.8px 3px rgba(0, 0, 0, 0.25);
    }
    .info-description {
      font-weight: normal;
      font-size: 24px;
      letter-spacing: 0.02em;
      color: #000000;
      padding: 0 0 30px 0;
    }
    .info-buttons {
      .button-text {
        font-weight: 300;
        font-size: 16px;
        letter-spacing: 0.02em;
        color: #0e1844;
        padding: 20px 0 25px 0;
      }
      .link-seperator {
        padding: 0 40px;
        font-weight: 600;
        font-size: 16px;
        letter-spacing: 0.14em;
        color: #020348;
      }
    }
  }
  .landing-gif {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
      height: auto;
      max-width: 520px;
    }
  }
}

@media all and (max-width: 1100px) and (min-width: 850px) {
  .landing-container {
    height: 100vh;
    .landing-info {
      padding-left: 40px;
      .info-logo {
        max-width: 60px;
        max-height: 60px;
      }
      .info-name {
        font-size: 40px;
      }
      .info-description {
        font-size: 18px;
      }
      .info-buttons {
        .button-text {
          font-size: 14px;
        }
        .link-seperator {
          padding: 0 32px;

          font-size: 14px;
        }
      }
    }
    .landing-gif {
      img {
        max-width: 360px;
      }
    }
  }
}

@media all and (max-width: 850px) and (min-width: 600px) {
  .landing-container {
    grid-template-columns: 1fr;
    height: auto;
  }
}

@media all and (max-width: 600px) {
  .landing-container {
    grid-template-columns: 1fr;
    height: auto;
    .landing-info {
      padding-left: 25px;
      .info-logo {
        padding-top: 50px;
        padding-bottom: 10px;
        width: 100%;
        height: auto;
        max-width: 55px;
        max-height: 55px;
      }
      .info-name {
        padding: 20px 0;
        font-size: 38px;
      }
      .info-description {
        font-size: 18px;
        padding: 0 0 24px 0;
      }
      .info-buttons {
        .button-text {
          font-weight: 300;
          font-size: 14px;
          letter-spacing: 0.02em;
          color: #0e1844;
          padding: 15px 0 20px 0;
        }
        .link-seperator {
          padding: 0 24px;
          font-weight: 600;
          font-size: 14px;
        }
      }
    }
    .landing-gif {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
        height: auto;
        max-width: 320px;
      }
    }
  }
}
