.driver-list-heading {
  display: inline-block;
  font-weight: 600;
  font-size: 24px;
  color: #020346;
  letter-spacing: 0.14em;
  &::after {
    content: "";
    display: block;
    width: 70%;
    height: 2px;
    background: #020346;
    margin-top: 5px;
  }
}
.list-table {
  margin-left: 50px;
  margin-bottom: 30px;
  grid-column: 1/-1;
}

table {
  margin-top: 30px;
  tr {
    th {
      font-weight: bold;
      font-size: 18px;
      color: #525252;
      border-bottom: 1.6px solid #858585;
      padding: 7px 20px;
      margin: 0;
    }
    td {
      font-weight: normal;
      font-size: 16px;
      color: #000;
      text-align: center;
      button {
        font-size: 14px !important;
      }
    }
  }
}

@media all and (max-width: 1100px) {
  .driver-list-heading {
    font-size: 21px;
    &::after {
      height: 1.7px;
      margin-top: 4px;
    }
  }
  .list-table {
    margin-left: 30px;
  }
  table {
    margin-top: 27px;
    tr {
      th {
        font-weight: bold;
        font-size: 17px;
        color: #525252;
        border-bottom: 1.4px solid #858585;
        padding: 7px 15px;
        margin: 0;
      }
      td {
        font-weight: normal;
        font-size: 15px;
        color: #000;
        text-align: center;
        button {
          font-size: 13px !important;
        }
      }
    }
  }
}
@media all and (max-width: 650px) {
  .driver-list-heading {
    font-size: 16px;
    &::after {
      height: 1.2px;
      margin-top: 2.4px;
    }
  }
  .list-table {
    margin-left: 15px;
  }
  table {
    margin-top: 15px;
    tr {
      th {
        font-weight: bold;
        font-size: 12px;
        color: #525252;
        border-bottom: 1.2px solid #858585;
        padding: 2px 10px;
        margin: 0;
      }
      td {
        font-weight: normal;
        font-size: 12px;
        color: #000;
        text-align: center;
        button {
          font-size: 10px !important;
        }
      }
    }
  }
}
